$color-white: white;
$color-smokewhite: #f0f1f2;
$color-black: #0e131a;
$color-green: #4ac6a7;
$color-blue: #3f7ac6;


$color-gradient1: linear-gradient(to right, #e43a15, #e65245);
$color-gradient2: linear-gradient(to right, #f12711, #f5af19);

